@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="css/home.css" />
}

@{
    ViewData["Title"] = "Jason Roodman - Home";
}

<div class="container-fluid index-content">
    <div class="full-background-image">
        <div class="welcome-block">
            <h1 class="welcome-message">Welcome</h1>
            <h2 class="welcome-directions">Have You Come For Business Or Pleasure?</h2>
        </div>
        <div class="container-fluid buttons">
            <div class="row">
                <div class="col text-center">
                    <a href="#" class="btn btn-lg business-button">
                        <div class="business-button-text">BUSINESS</div>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="#" class="btn btn-lg pleasure-button">
                        <div class="pleasure-button-text">PLEASURE</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

