@font-face {
    font-family: brandon-qrotesque-regular;
    src: url('../fonts/BrandonGrotesque-Regular.otf');
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

main.site-main {
  background-color: black;
}

footer.site-footer {
  margin: 0;
  font-family: brandon-qrotesque-regular, Helvetica, sans-serif; !important;
  background-color: #181c1f !important;
  color: white;
  margin: 0;
}

h5.site-brand {
  font-weight: 500;
  margin-bottom: .05em;
}

h6.footer-title {
  font-size: .8em;
  font-weight: 600;
}

.navbar {
  font-family: brandon-qrotesque-regular, Helvetica, sans-serif;;
  background-color: #181c1f !important;
}

.navbar .container .navbar-brand {
  font-size: 150%;
}

.navbar .container > .navbar-collapse .navbar-nav .nav-item > a {
  color: white;
  font-size: 95%;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item.active > a {
  color: #ccac55;
}

.navbar .container .navbar-collapse .navbar-nav .nav-item a:hover {
  border-bottom: 2px solid #ccac55;
  padding-bottom: 1px;
}

.footer-content {
  padding-top: 3vh;
  padding-bottom: 1vh;
}

.left-col-footer,
.middle-col-footer {
  border-right: 1px dotted #8b939b;
  height: 7.3vh;
}

@media(max-width: 768px) {
  .footer-text {
    margin: 1vh;
  }

  .footer-content {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
    padding-top: 1vh;
  }

  .left-col-footer {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .middle-col-footer {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .left-col-footer,
  .middle-col-footer {
    border-right: none;
    border-bottom: 1px dotted #8b939b;
    height: auto;
  }

  .right-col-footer {
    padding-top: 2vh;
  }
}

.footer-text {
  font-size: .65em;
  color: #8b939b;
}

.footer-link {
  color: #8b939b;
}

.footer-link:hover,
.footer-link:active {
  text-decoration: underline;
  color: #8b939b;
}

.footer-number {
  font-size: 1em;
}

.footer-address {
  font-size: .7em;
}

.social-icon {
  background: black;
  height: 1.4em;
  width: 1.4em;
  margin-left: .2em;
  margin-right: .2em;
}

.linkedin-icon {
  margin-left: 0;
}

.social-icon:hover {
  opacity: .7;
}

.footer-copyright {
  font-family: brandon-qrotesque-regular, Helvetica, sans-serif;;
  background-color: black;
  color: #666;
  height: 5vh;
}

.copyright-text {
  vertical-align: middle;
  padding-top: 1vh;
  font-size: .7em;
}
