@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/css/resume.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/resume.js"></script>
}

@{
    ViewData["Title"] = "Jason Roodman - Resume";
}

<div class="container-fluid">
    <div class="row">
        <div class="side-profile col-sm-5 col-lg-4">
            <div class="side-profile-container">
                <img class="rounded-circle profile-image" src="~/images/resume-photo.jpg" alt="profile photo">
                <div class="container profile-info">
                    <h3 class="info">Jason Roodman</h3>
                    <h3 class="info">phone: +1 (314) 791-1267</h3>
                    <h3 class="info">email: rjason14@gmail.com</h3>
                </div>
                <a href="~/misc/jason_roodman_resume.pdf" class="btn btn-outline-primary download-resume-button">
                    DOWNLOAD RESUME
                </a>
            </div>
        </div>
        <div class="resume-content col-sm-7 col-lg-8 ml-auto">
            <h1 class="resume-hello">Hello,</h1>
            <div class="resume-description">
                I am a software engineer, innovator, photographer, explorer, and dreamer. Born
                in St. Louis, Missouri I am now playing the role of Cali-boy living in Los Angeles
                and helping <a href="http://www.spacex.com/" class="hidden-link">SpaceX</a> work on
                some BIG things.<br>
                <br>
                Please, explore my site, and discover a little more about what makes me - well, Me.
                And, if you are looking for a developer or product manager, reach out! I am always
                excited to take on a new and exciting freelance project.
            </div>
            <div class="container-fluid resume-section">
                <h3 class="resume-section-title">Languages</h3>
                <div class="row">
                    <div class="col-sm-6 skill-column">
                        <div class="skill-container">
                            <h6 class="skill-header">C#</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-container">
                            <h6 class="skill-header">Python</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-container">
                            <h6 class="skill-header">Ruby on Rails</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 90%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-container">
                            <h6 class="skill-header">Java</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-container">
                            <h6 class="skill-header">C++</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 skill-column">
                        <div class="skill-container">
                            <h6 class="skill-header">SQL</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 90%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-container">
                            <h6 class="skill-header">HTML</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-container">
                            <h6 class="skill-header">CSS</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-container">
                            <h6 class="skill-header">Javascript</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped skill-progress" role="progressbar" style="width: 60%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid resume-section">
                <h3 class="resume-section-title">Projects</h3>
                <div class="row project-row">
                    <div class="col-lg-6 project-column">
                        <div class="project">
                            <a href="http://www.jasonroodman.com/">
                                <img class="project-thumbnail" src="~/images/project_thumbnails/personal-website-thumbnail.jpg" alt="personal website thumbnail">
                            </a>
                            <div class="project-details">
                                <div class="project-description">
                                    <p>
                                        <a class="hidden-link project-name">
                                            <b>JasonRoodman.com</b>
                                        </a>
                                        &nbsp;&nbsp;
                                        is my personal website - developed to showcase my skills,
                                        host my professional profile, and share my thoughts,
                                        opinions, and hobbies.
                                    </p>
                                    <p>
                                        <i><b>Technology Used:</b> ASP.NET, AngularJS, Bootstrap 4</i>
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 project-column">
                        <div class="project">
                            <a href="http://www.jasonroodman.com/">
                                <img class="project-thumbnail" src="images/project_thumbnails/groundrules-thumbnail.jpg" alt="personal website thumbnail">
                            </a>
                            <div class="project-details">
                                <div class="project-description">
                                    <p>
                                        <a class="hidden-link project-name">
                                            <b>GroundRules.co</b>
                                        </a>
                                        &nbsp;&nbsp;
                                        is a website I helped develop during my internship with
                                        Viget Labs. Inspired by the growth of artisan coffee,
                                        we decided to make a website aimed at helping the casual
                                        coffee drinker improve their everyday cup of joe.
                                    </p>
                                    <p>
                                        <i><b>Technology Used:</b> Ruby on Rails</i>
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid resume-section">
                <h3 class="resume-section-title">Experience</h3>
                <div class="experience">
                    <div class="timeline">
                        <div class="timeline-box left">
                            <div class="timeline-content">
                                <div class="experience-header">
                                    <a href="http://www.spacex.com/">
                                        <img class="experience-icon spacex-icon" src="~/images/icons/logo-spacex.png" alt="spacex logo">
                                    </a>
                                </div>
                                <h4 class="experience-title">Full Stack Enterprise Software Engineer</h4>
                                <h6 class="experience-date">2018 - Present</h6>
                                <h6 class="experience-location">Los Angeles, CA</h6>
                            </div>
                        </div>
                        <div class="timeline-box right">
                            <div class="timeline-content">
                                <div class="experience-header">
                                    <a href="https://www.usc.edu/">
                                        <img class="experience-icon rounded-circle" src="~/images/icons/logo-usc.jpg" alt="usc logo">
                                    </a>
                                    <h4 class="experience-title">University of Southern California</h4>
                                </div>
                                <h5 class="experience-sub-header">B.S. Computer Science and Business Administration</h5>
                                <h6 class="experience-date">May 11, 2018</h6>
                                <h6 class="experience-location">Los Angeles, CA</h6>
                            </div>
                        </div>
                        <div class="timeline-box left">
                            <div class="timeline-content">
                                <div class="experience-header">
                                    <a href="https://www.viget.com/">
                                        <img class="experience-icon" src="~/images/icons/logo-viget.png" alt="usc logo">
                                    </a>
                                    <h4 class="experience-title">Viget Labs, LLC</h4>
                                </div>
                                <h5 class="experience-sub-header">Ruby on Rails Developer Intern</h5>
                                <h6 class="experience-date">Summer 2017</h6>
                                <h6 class="experience-location">Falls Church, VA</h6>
                            </div>
                        </div>
                        <div class="timeline-box right">
                            <div class="timeline-content">
                                <div class="experience-header">
                                    <a href="https://viterbischool.usc.edu/">
                                        <img class="experience-icon viterbi-icon" src="~/images/icons/logo-viterbi.png" alt="usc logo">
                                    </a>
                                    <h4 class="experience-title">Teaching Assistance: Introduction to C++</h4>
                                </div>
                                <h6 class="experience-date">2016 - 2017</h6>
                                <h6 class="experience-location">Los Angeles, CA</h6>
                            </div>
                        </div>
                        <div class="timeline-box left">
                            <div class="timeline-content">
                                <div class="experience-header">
                                    <a href="https://www.ticketmaster.com/">
                                        <img class="experience-icon ticketmaster-icon" src="~/images/icons/logo-ticketmaster.png" alt="usc logo">
                                    </a>
                                    <h4 class="experience-title">Software Engineering Intern</h4>
                                </div>
                                <h6 class="experience-date">Summer 2016</h6>
                                <h6 class="experience-location">Los Angeles, CA</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>