<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-4.0.0.min.css" />

    <link rel="stylesheet" type="text/css" href="css/app.css" />
    @RenderSection("Stylesheets", required: false)

    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="Jason Roodman\'s personal website. Explore the site to find Jason\'s professional resume, photography, favorite reads, and more.">
    <meta name="keywords" content="jason, roodman, jason roodman, enterprise, software, engineering, fullstack, frontent, backend, space, spacex, los angeles, saint louis, st. louis, photography, books, resume, projects, profile">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Jason Roodman">
    <meta property="og:description" content="Jason Roodman\'s personal website. Explore the site to find Jason\'s professional resume, photography, favorite reads, and more.">
    <meta property="og:image" content="http://www.jasonroodman.com/images/default.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.jasonroodman.com/">

    <!-- Facebook meta tag -->
    <meta property="fb:admins" content="1442948879">
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/">JR</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsToggleContainer" aria-controls="navbarsToggleContainer" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarsToggleContainer" aria-expanded="true" style="">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">BUSINESS</a>
                            <div class="dropdown-menu nav-dropdown">
                                <a class="dropdown-item" href="/resume">RESUME</a>
                                <a class="dropdown-item" href="/contact">CONTACT</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">LEISURE</a>
                            <div class="dropdown-menu nav-dropdown">
                                <a class="dropdown-item" href="/calendar">CALENDAR</a>
                                <a class="dropdown-item" href="/tennis">TENNIS</a>
                                <a class="dropdown-item" href="/photos">PHOTOS</a>
                                <a class="dropdown-item" href="/books">BOOKS</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="site-main">
        @RenderBody()
    </main>

    <footer class="site-footer">
        <div class="container-fluid footer-content">
            <div class="row">
                <div class="col-md-4 left-col-footer">
                    <h6 class="footer-title">CONTACT</h6>
                    <ul class="list-unstyled footer-text">
                        <li>
                            PHONE:&nbsp;&nbsp;<span class="footer-number">+1 (314) 791-1267</span>
                        </li>
                        <li>
                            EMAIL:&nbsp;&nbsp;<a class="footer-link" href="mailto:jason.j.roodman@gmail.com">JASON.J.ROODMAN@GMAIL.COM</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 middle-col-footer">
                    <h6 class="footer-title">SOCIAL MEDIA</h6>
                    <a class="hidden-link" href="https://www.linkedin.com/in/jason-roodman-7a1644a7/">
                        <img class="social-icon linkedin-icon" src="images/icons/logo-linkedin.svg" alt="linkedin icon">
                    </a>
                    <a class="hidden-link" href="https://github.com/jroodman">
                        <img class="social-icon" src="images/icons/logo-github.svg" alt="github icon">
                    </a>
                    <a class="hidden-link" href="https://www.facebook.com/jason.roodman">
                        <img class="social-icon" src="images/icons/logo-facebook.svg" alt="facebook icon">
                    </a>
                    <a class="hidden-link" href="https://www.instagram.com/jroody0722/">
                        <img class="social-icon" src="images/icons/logo-instagram.svg" alt="instagram icon">
                    </a>
                </div>
                <div class="col-md-4 right-col-footer">
                    <h5 class="site-brand">JR</h5>
                    <p class="footer-address">LOS ANGELES, CA</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center">
            <h6 class="copyright-text">© 2018 COPYRIGHT: JASON ROODMAN</h6>
        </div>
    </footer>
    <!-- Javascript -->
    <script type="text/javascript" src="~/js/dependencies/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="~/js/dependencies/popper-1.12.9.min.js"></script>
    <script type="text/javascript" src="~/js/dependencies/bootstrap-4.0.0.min.js"></script>
    <script type="text/javascript" src="js/dependencies/angular-1.6.7.min.js"></script>
    <script type="text/javascript" src="js/dependencies/angular-resource-1.6.7.min.js"></script>
    <script type="text/javascript" src="js/dependencies/angular-route-1.6.7.min.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
