@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="css/books.css" />
}

@{
    ViewData["Title"] = "Jason Roodman - Books";
}

<div class="container-fluid">
    <div class="feed">
        <div class="post">
            <a href="https://www.amazon.com/Hologram-King-Novel-Dave-Eggers/dp/0307947513/ref=sr_1_1?ie=UTF8&qid=1525723685&sr=8-1&keywords=hologram+for+the+king+book">
                <img class="post-image" src="~/images/books/cover-hologram-for-the-king.jpg" alt="a hologram for the king book cover">
            </a>
            <div class="post-main">
                <div class="post-top">
                    <div class="post-date">
                        April 07, 2017
                    </div>
                    <div class="star-rating">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star.svg" alt="star">
                        <img class="star" src="~/images/icons/star.svg" alt="star">
                    </div>
                </div>
                <div class="post-text-block">
                    <i>A Hologram For The King</i> was not as advertised.
                    The first two-thirds of the novel focus on the background of the
                    washed-out protagonist, Alan Clay. Clay, down on his luck, is a
                    middle-aged business man who has not seen personal success for the
                    last 20 years. In extraordinary debt, Clay bets his livelihood and
                    daughter’s future on his ability to negotiate a deal between King
                    Abdullah and Reliant Energy.<br>
                    <br>
                    Despite the many positive reviews for this novel, I found the
                    development of the main character and plot lacking. For a novel focusing
                    on the development of a singular character, I was dismayed to find very few
                    of Alan Clay's traits sympathizable. Instead of heralding a powerful message,
                    he seemed to invite skepticism and criticism. In lieu of representing businessman
                    who came into maturity with outdated business practices, Alan Clay seemed
                    to represent an unassertive character who was unable to react to changes to the status
                    quo, unable to consider issues of the future, and unwilling to bolster his
                    skillset.
                </div>
            </div>
        </div>
        <div class="post">
            <a href="https://www.amazon.com/Karenina-Margellos-World-Republic-Letters/dp/0300216823/ref=sr_1_1?s=books&ie=UTF8&qid=1522368717&sr=1-1&keywords=anna+karenina+marian+schwartz">
                <img class="post-image" src="~/images/books/cover-anna-karenina.jpg" alt="anna karenina book cover">
            </a>
            <div class="post-main">
                <div class="post-top">
                    <div class="post-date">
                        March 28, 2017
                    </div>
                    <div class="star-rating">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star.svg" alt="star">
                    </div>
                </div>
                <div class="post-text-block">
                    After reading <i>Anna Karenina</i>, I can see how the novel came to be
                    known as one of the best works of fiction of all time. Set in the
                    1860s and 1870s, Anna Karenina juxtaposes the lives of its two main
                    characters, Konstantin Levin and Anna Karenina. Levin, a farmer,
                    writer, and intellectual, spends the novel simultaneously seeking
                    marriage with the love of his life, Kitty, and rigorously attempting
                    to uncover the meaning of life. Anna, in contrast, originally an
                    admired and beautiful woman of society, spends her time unsuccessfully
                    attempting to maintain a front of propriety while engaging in an affair
                    with a bachelor, Count Alexei Vronsky.<br>
                    <br>
                    Tolstoy’s unique ability to peer into the mind of his characters
                    and realistically describe their every thought and emotion makes
                    the juxtaposition of these two characters both riveting and timeless.
                    <i>Anna Karenina</i> made me rethink my understanding of humanity, how
                    the world works, and the justice of everything. Though well worth
                    the time, if you choose to tackle this novel, buckle up. Over 700
                    pages of dense reading, <i>Anna Karenina</i> is not for the faint of heart
                    and will, without a doubt, challenge the hardiest of reading stamina.
                </div>
            </div>
        </div>
        <div class="post">
            <a href="https://www.amazon.com/Elon-Musk-SpaceX-Fantastic-Future/dp/0062301233/ref=sr_1_2?s=books&ie=UTF8&qid=1522548527&sr=1-2&keywords=elon+musk+biography">
                <img class="post-image" src="~/images/books/cover-elon-musk.jpg" alt="elon musk biography book cover">
            </a>
            <div class="post-main">
                <div class="post-top">
                    <div class="post-date">
                        March 14, 2017
                    </div>
                    <div class="star-rating">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                    </div>
                </div>
                <div class="post-text-block">
                    Ashlee Vance put together a masterpiece. This book reads more like fiction
                    or fantasty than it does a biography. Chapter by chapter, Vance
                    develops the character of Elon Musk . . . starting with his chaotic childhood 
                    and ending with stories of Musk's companies that were created on fleeting whims and
                    preposterously have the chance of completely changing the world (and galaxy). 
                    <br>
                    I would highly recommend reading this book to everyone I know. Musk's life demonstrates what 
                    its possible to build starting from near nothing and proves that our dreams 
                    and science fiction can become reality. More than that, the trials and tribulations 
                    undergone by Musk in building Tesla and SpaceX shed deep insight into how people behave,
                    what people are willing to work for, and how its possible to build a business to 
                    build a business by breaking the status quo. 
                </div>
            </div>
        </div>
        <div class="post">
            <a href="https://www.amazon.com/Childhood-Boyhood-Youth-Penguin-Classics/dp/0140449922/ref=pd_sbs_14_1?_encoding=UTF8&pd_rd_i=0140449922&pd_rd_r=HM022HRTZ3TK6FR4FSC9&pd_rd_w=Kc8Za&pd_rd_wg=leEw1&psc=1&refRID=HM022HRTZ3TK6FR4FSC9">
                <img class="post-image" src="~/images/books/cover-childhood-boyhood-youth.jpg" alt="childhood, boyhood, youth book cover">
            </a>
            <div class="post-main">
                <div class="post-top">
                    <div class="post-date">
                        March 28, 2017
                    </div>
                    <div class="star-rating">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star.svg" alt="star">
                    </div>
                </div>
                <div class="post-text-block">
                    Lorem ipsum dolor signisselit luctus iaculisljdlkjaajf;ajdfal;kdjf;fja;ljdlkjaajf;ajdfal;kdjf;
                    Lorem ipsum dolor signisselit luctus iaculisljdlkjaajf;ajdfal;kdjf;fja;ljdlkjaajf;ajdfal;kdjf;
                    Lorem ipsum dolor signisselit luctus iaculisljdlkjaajf;ajdfal;kdjf;fja;ljdlkjaajf;ajdfal;kdjf;
                </div>
            </div>
        </div>
        <div class="post">
            <a href="https://www.amazon.com/Art-War-History-Warfare-Paperback/dp/081331951X/ref=sr_1_1?ie=UTF8&qid=1522547746&sr=8-1&keywords=sun+tzu+art+of+war+sawyer">
                <img class="post-image" src="~/images/books/cover-art-of-war.jpg" alt="art of war book cover">
            </a>
            <div class="post-main">
                <div class="post-top">
                    <div class="post-date">
                        March 28, 2017
                    </div>
                    <div class="star-rating">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star.svg" alt="star">
                    </div>
                </div>
                <div class="post-text-block">
                    <i>The Art of War</i> is an interesting book, even if a short read. There's clearly a reason that it
                    has been passed down for thousands of years and been recommended to individuals in fields as diverse 
                    as military strategy, business, entrepreneurship, and education. The advice contained in this book is 
                    not complex, difficult to understand, or even entirely unique. The benefit of Sun Tzu's advice is that 
                    is simple, distilled, poignant, and relevant.
                    <br>
                    At just a few dozen pages, this is a book that everyone should find some time to read. 
                </div>
            </div>
        </div>
        <div class="post">
            <a href="https://www.amazon.com/Astrophysics-People-Hurry-deGrasse-Tyson/dp/0393609391/ref=sr_1_1?s=books&ie=UTF8&qid=1522548181&sr=1-1&keywords=astrophysics+for+people+in+a+hurry+by+neil+degrasse+tyson">
                <img class="post-image" src="~/images/books/cover-astrophysics-for-people-in-a-hurry.jpg" alt="astrophysics for people in a hurry book cover">
            </a>
            <div class="post-main">
                <div class="post-top">
                    <div class="post-date">
                        March 28, 2017
                    </div>
                    <div class="star-rating">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star-checked.svg" alt="star">
                        <img class="star" src="~/images/icons/star.svg" alt="star">
                        <img class="star" src="~/images/icons/star.svg" alt="star">
                    </div>
                </div>
                <div class="post-text-block">
                    <i>Astrophysics for People in a Hurry</i> is a short and satisfying read. 
                </div>
            </div>
        </div>
    </div>
</div>